.dropdown__container {
    position: relative;
}

.dropdown__button {}

.dropdown__arrow {
    position: absolute;
    display: block;
}

.dropdown__arrow--hidden {
    display: none;
}

.dropdown__content {
    position: absolute;
}

.dropdown__content--hidden {
    display: none;
}
