.login-page {
    --header-height: 6rem;
}

.login-page {
    background-color: var(--color-black);
    min-height: 100vh;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

.login-page__header {
    height: var(--header-height);
}

.login-page__form-container {
    padding-top: var(--header-height);
    flex-grow: 1;
}

@media (min-width: 740px) {
    .login-page__form-container {
        width: 450px;
        margin: 0 auto;
    }
}
