.login-page {
    background-color: var(--color-black);
    position: relative;
    z-index: 0;
}

.login-page__content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.login-page__form {
    flex-grow: 1;
}
