.prim-nav-flat-link {
    color: var(--color-grey-lightt);
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.4s;
}

.prim-nav-flat-link:hover {
    color: var(--color-grey-light);
}

.prim-nav-flat-link--active {
    color: var(--color-white);
    font-weight: 700;
}

.prim-nav-flat-link--active:hover {
    color: var(--color-white);
}
