.primary-navigation {
    display: flex;
}

.primary-navigation__flat {
    display: none;
    list-style-type: none;
    padding: 0;
    width: 100%;
    font-size: 0.85rem;
}

.primary-navigation__flat-list-item {
    margin-left: 1rem;
}

@media (min-width: 950px) {
    .primary-navigation__dropdown {
        display: none;
    }
    .primary-navigation__flat {
        display: flex;
    }
}
