.primary-navigation {
    display: flex;
}

.primary-navigation__dropdown {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.primary-navigation__dropdown-list-item {
    font-size: 1.35em;
}

.primary-navigation__dropdown-list-item-link {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-navigation__flat {
    display: none;
    list-style-type: none;
    padding: 0;
    width: 100%;
    font-size: 0.85em;
}

.primary-navigation__flat-list-item {
    margin-left: 1rem;
}

@media (min-width: 950px) {
    .primary-navigation__dropdown {
        display: none;
    }
    .primary-navigation__flat {
        display: flex;
    }
}
