.login-form {
    color: #fff;
    background-color: #000;
    box-sizing: border-box;
    width: 100%;
    padding: 0 3%;

}

.login-form__title {
    margin: 0 0 1.67rem;
}

.login-form__text-field {
    margin-bottom: 1rem;
}

@media screen and (min-width: 740px) {
    .login-form {
        padding: 60px 68px 40px 68px;
        background-color: rgba(0, 0, 0, 0.75);
    }
}
