.primary-dropdown-link {
    color: var(--color-grey-lightt);
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.4s;
}

.primary-dropdown-link:hover {
    color: var(--color-grey-light);
    background-color: rgba(255, 255, 255, 0.05);
}

.primary-dropdown-link--active {
    color: var(--color-white);
    font-weight: 700;
}

.primary-dropdown-link--active:hover {
    color: var(--color-white);
}
