:root {
    --color-primary: #e50914;
    --color-warning: #e87c03;
    --color-white: #fff;
    --color-black: #000;
    --color-grey-light: #ccc;
    --color-grey: #8c8c8c;
    --color-grey-dark: #454545;
    --color-grey-darkk: #333;
    --background-transparent: rgba(0, 0, 0, 0.75);
}
